body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 중앙 박스 */
.login-container {
    width: 300px;
    background: #fff;
    border: 3px solid #FF8037; /* 주황색 테두리 */
    border-radius: 24px;
    padding: 20px 40px;
    box-shadow: 0 6px 25px rgba(0,0,0,0.12);
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-12px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* 상단 헤더 */
.header-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 64px;
}

.logo-text {
    font-size: 22px;
    font-weight: 700;
}

.back-icon {
    font-size: 22px;
    cursor: pointer;
    margin-right: auto;
    color: #777;
}

/* 제목 */
.login-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 64px;
}

/* 입력 박스 (ID/PW 용) */
.input-box {
    width: 100%;
    padding: 14px;
    margin-bottom: 24px;
    border-radius: 14px;
    border: 2px solid #ddd;
    font-size: 15px;
}
.input-box:focus {
    border-color: #FF8037;
    outline: none;
}

/* 큰 로그인 버튼 */
.login-btn {
    width: 100%;
    padding: 16px;
    background: #FF8037;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 32px;
    margin-bottom: 20px;
    transition: 0.15s;
}
.login-btn:hover {
    background: #333;
}

/* 큰 회원가입 버튼 (로그인 버튼과 동일 스타일) */
.signup-btn {
    width: 100%;
    padding: 16px;
    background: #356B96;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 24px;
    transition: 0.15s;
}
.signup-btn:hover {
    background: #333;
}


/* 입력 박스 */
.input-box {
    width: 93%;
    padding: 14px;
    margin-bottom: 16px;
    border-radius: 14px;
    border: 2px solid #ddd;
}

.logo-image img {
    height: 16px;
    cursor: pointer;
}
