body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: white;
}

/* 중앙 정렬 */
.HSCodeSearch-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 300px;
}

/* 로고 */
.HSCodeSearch-logo img {
    width: 550px;   /* 원하는 크기 */
    height: auto;
    margin-bottom: 100px;
}

/* 검색창 박스 */
.HSCodeSearch-search-box {
    width: 700px;
}

/* 검색창 input */
.HSCodeSearch-search-box input {
    width: 100%;
    padding: 18px 25px;

    border: 2px solid #FF8037;
    border-radius: 40px;

    font-size: 20px;
    outline: none;

    color: #333;
}


.HSCodeSearch-search-box input::placeholder {
    color: #bbb;
}


/* input + 버튼 묶는 wrapper */
.HS-input-wrapper {
    width: 100%;
    position: relative;
}

/* X 버튼 */
.clear-btn {
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #bbb;
}

/* Search 버튼 */
.search-btn {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    background: #FF8037;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.search-btn:hover {
    background: #356B96;
}


/* 검색결과 출력 */
.HSCodeSearch-results {
    width: 700px;
    margin-top: 30px;
}

.result-item {
    position: relative;   /* 북마크 아이콘 배치 위해 필요 */
    border: 1px solid #ddd;
    padding: 14px 18px;
    border-radius: 12px;
    margin-bottom: 12px;
    background: #fff;
}

/* 북마크 아이콘 */
.bookmark-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 22px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.2s;
}

.bookmark-icon:hover {
    opacity: 1;
}

/* 저장된 북마크 색 강조 */
.bookmarked {
    filter: brightness(0) saturate(100%) invert(67%) sepia(73%) saturate(600%) hue-rotate(330deg);
}

.result-code {
    font-weight: bold;
    font-size: 18px;
    color: #FF8037;
}

