body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: white;
}

/* 중앙 정렬 */
.HSCodeSearch-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 로고 */
.HSCodeSearch-logo {
    font-size: 50px;
    font-weight: 600;
    color: #ff4f4f; /* 화면에 보였던 빨간색 */
    margin-bottom: 50px;
}

/* 검색창 박스 */
.HSCodeSearch-search-box {
    width: 700px;
}

/* 검색창 input */
.HSCodeSearch-search-box input {
    width: 100%;
    padding: 18px 25px;

    border: 2px solid #ff6b5f;     /* yandex 스타일 붉은색 */
    border-radius: 40px;

    font-size: 20px;
    outline: none;

    color: #333;
}

.HSCodeSearch-search-box input::placeholder {
    color: #bbb;
}