<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HSCode Search</title>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="HSCodeSearch-wrapper">

    <div class="HSCodeSearch-logo">HSCode Search</div>

    <div class="HSCodeSearch-search-box">
        <input type="text" placeholder="HSCode Search">
    </div>

</div>

</body>
</html>