<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>

  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div class="login-container">

  <div class="header-row">
    <div class="back-icon" onclick="goBack()">←</div>
    <div class="logo-image" onclick="goMain()">
      <img src="/img/MainLogo.png" alt="Logo">
    </div>
  </div>

  <div class="login-title">Sign Up</div>

  <input type="text" class="input-box" placeholder="Username">
  <input type="email" class="input-box" placeholder="Email">
  <input type="password" class="input-box" placeholder="Password">
  <input type="password" class="input-box" placeholder="Confirm Password">

  <button class="signup-btn" onclick="doSignUp()">Create Account</button>

</div>

<script src="/js/signup.js"></script>

</body>
</html>
